/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
.global-color {
    background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(24,16,88,1) 48%, rgba(9,27,64,1) 100%);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

/*------------------------------------------------------------ navbar <----------------------------------------------------------------------------------------------------------------------------------------- */
nav {
    display: flex;
    /* background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(24,16,88,1) 48%, rgba(9,27,64,1) 100%); */
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    z-index: 99;
}

nav :where(.nav-links , .nav-logo){
    display: flex;
    align-items: center;
}

nav .nav-logo {
    width: 100%;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

nav .nav-logo img {
    width: 90px;
    height: 50px;
}

nav .nav-logo h3 {
    text-shadow: 4px 0px 8px rgba(0, 0, 0, 1);
    margin: 0;
    font-size: 20px;
}

nav .nav-links {
    margin-right: 20px;
}

nav .nav-links .nav-a {
    display: flex;
    justify-content: end;
    width: 100%;    
}

nav .nav-links .nav-a a {
    text-shadow: 4px 0px 8px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    
}

nav .nav-links .nav-a a:hover{
    transform: scale(1.2);
}

nav .nav-menu {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

nav .nav-menu div {
    width: 30px;
    height: 3px;
    margin: 2px;
    border-radius: 5px;
    background-color: aliceblue;
}

/* nav-responsive */
.nav-res {
    display: flex;
    justify-content: end;
    position: fixed;
    height: 0;
    width: 100%;
    display: flex;
    right: -200px;
    transition: 500ms ease-in-out;
}

.nav-res .nav-res-links{
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav-res .nav-res-links a {
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.nav-res .nav-res-links a:hover{
    text-decoration: underline;
}

.nav-res .nav-res-links .nav-res-icons {
    margin-top: 20px;
}

.nav-res .nav-res-links .nav-res-icons a{
    text-decoration: none;
    margin: 5px;
}

.nav-right {
    right: 0px;
}

.notification {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    left: 450px;
    transition: 300ms ease ;
}

.notification .notification-body {
    border: 2px solid black;
    box-shadow: 3px 6px 18px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: 80px;
    right: 20px;
    width: 400px;
    padding: 10px;
    background-color: rgba(9,27,64,1);
    border-radius: 15px ;
    height: auto;
    color: rgb(255, 255, 255);
}

.notification .notification-body .notification-body-links {
    display: flex;
    gap: 20px;
}

.notification .notification-body .notification-body-links a{
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
}

/*------------------------------------------------------------ sidebar ------------------------------------------------------------------------------------------------------------------------*/
.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
}

.sidebar-center {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.sidebar-center a {
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.sidebar-center a:hover {
    transform: scale(1.3,1.3);
}

/*----------------------------------------------------------------- footer ---------------------------------------- */
/* footer{
    padding: 10px;
    text-align: center;
}

footer p {
    color: rgb(255, 255, 255);
    margin: 0;
} */

/*------------------------------------------------------------ media querry ------------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 780px) {
    /* navbar */
    nav .nav-links .nav-a {
        display: none;
    }

    nav .nav-menu {
        display: flex;
    }
}

@media (max-width: 530px) {
    .sidebar {
        display: none;
    }
}

/* additional function */
.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.zero-left {
    left: 0;
}